@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/firasans/firasans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans/ptsans-italic.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --basic-black: #000000;
  --basic-red: #ee3643;
  --basic-red-hover: #ca2c37;
  --basic-red-active: #ba2732;
  --basic-green: #63a63e;
  --basic-green-hover: #5fbb2d;
  --basic-green-active: #518534;
  --basic-grey: #3d546f;
  --basic-greylight: #c5c5c5;
  --basic-background: #f3f7f9;
  --extra-background: #f4f7f9;
  --white: #ffffff;
  --special-yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-greenlight: #8ed78f;
  --special-yellowlight: #ffd180;
  --special-grey: #32425c;
  --special-black: #293449;
  --status-error: #ff0000;
  --status-warning: #ffff00;
  --status-success: #00ff00;
}

html {
  height: 100vh;
}

body {
  margin: 0;
}

.main-body {
  min-width: 30vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
}

.main-container {
  flex-grow: 1;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Typography */
.headline-1 {
  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}

.headline-2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.headline-3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.paragraph-large {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.paragraph-bold {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.caption {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

/* Buttons */
.button {
  display: inline-block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 13px 6px;
  border: none;
  border-radius: 2px;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--basic-red);
  outline-offset: 0;
}





/* Header */


.header-info {
  display: flex;
  flex-wrap: wrap;
  padding: 13px 3px 13px 2px;
  background-color: var(--basic-background);
}

.header-info-title {
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-red);
  margin: 0;
  margin-right: auto;
}

.header-info-address-text {
  margin: 0;
  color: var(--special-grey);
  margin-right: 31px;
}

.header-info-tel-block {
  display: flex;
}

.header-info-tel-icon {
  color: var(--special-black);
  margin-right: 8px;
}

.header-info-address-phone {
  display: flex;
  color: var(--special-black);
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}
