@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/firasans/firasans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans/ptsans-italic.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --basic-black: #000000;
  --basic-red: #ee3643;
  --basic-red-hover: #ca2c37;
  --basic-red-active: #ba2732;
  --basic-green: #63a63e;
  --basic-green-hover: #5fbb2d;
  --basic-green-active: #518534;
  --basic-grey: #3d546f;
  --basic-greylight: #c5c5c5;
  --basic-neutral: #bdbdbd;
  --extra-neutral: #cccccc;
  --basic-background: #f3f7f9;
  --extra-background: #f4f7f9;
  --basic-white: #ffffff;
  --extra-white: #f1f5f7;
  --special-yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-greenlight: #8ed78f;
  --special-yellowlight: #ffd180;
  --special-grey: #32425c;
  --special-greylight: #f8fafb;
  --extra-greylight: #acacac;
  --special-greydark: #405069;
  --extra-greydark: #808080;
  --special-black: #293449;
  --status-error: #ff0000;
  --status-warning: #ffff00;
  --status-success: #00ff00;
}

html {
  height: 100vh;
}

body {
  margin: 0;
}

.main-body {
  min-width: 30vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
}

.main-container {
  flex-grow: 1;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

/* Typography */
.headline-1 {
  font-family: "Fira Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}

.headline-2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.headline-3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.paragraph-large {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.paragraph-bold {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.caption {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

/* Buttons */
.button {
  display: inline-block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 13px 6px;
  border: none;
  border-radius: 2px;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--basic-red);
  outline-offset: 0;
}




/* Field */
.field {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  color: var(--special-black);
  background-color: var(--basic-white);
  border: 1px solid var(--basic-grey);
  border-radius: 2px;
  padding: 8px;
}

.field::placeholder {
  color: var(--extra-neutral);
}

.field:hover {
  color: var(--special-black);
  border-color: var(--basic-green);
}

.field:focus {
  color: var(--special-black);
  border-color: var(--special-yellow);
  box-shadow: inset 0 0 0 1px var(--basic-green);
  outline: none;
}

.field.error {
  position: relative;
  color: var(--special-black);
  border-color: var(--basic-red);
}

.message-error {
  color: var(--basic-red-active);
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-top: 4px;
}

.message-text {
  color: var(--extra-grey);
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-top: 5px;
}

.field.error:hover {
  border-color: var(--basic-red);
  box-shadow: inset 0 0 0 1px var(--basic-red);
  outline: none;
}

.field.error:focus {
  border-color: var(--basic-red);
  box-shadow: inset 0 0 0 1px var(--basic-red);
}

.field:disabled {
  border-color: var(--basic-greylight);
  background-color: var(--special-greylight);
  color: var(--extra-greydark);
}

/* Header */
.header-info {
  background-color: var(--basic-background);
  padding: 0 20px;
}

.header-info .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 13px 3px 13px 2px;
}

.header-info-title {
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-red);
  margin: 0;
  margin-right: auto;
}

.header-info-address-text {
  margin: 0;
  color: var(--special-grey);
  margin-right: 31px;
}

.header-info-tel-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  outline-offset: 2px;
}

.header-info-tel-icon {
  color: var(--special-black);
  margin-right: 8px;
}

.header-info-address-phone {
  display: flex;
  color: var(--special-black);
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.header-info-tel-block:hover {
  opacity: 0.6;
}

.header-info-tel-block:active {
  opacity: 0.2;
}

.header-info-address-phone:focus {
  outline: none;
}

.header-info-tel-block:focus-within {
  outline: 2px solid var(--basic-black);
}

.header-admission {
  background-color: var(--special-black);
  padding: 0 20px;
}

.header-admission .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 3px;
}

.header-logo {
  display: flex;
  margin: 0;
  margin-bottom: -5px;
  outline-offset: 0;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.2;
}

.header-logo:focus {
  outline: 2px solid var(--basic-black);
  box-shadow: 0 0 5px 5px var(--extra-white);
}

.header-search-form {
  width: 716px;
  height: 45px;
  display: flex;
  align-items: center;
}

.header-search-icon {
  color: var(--basic-white);
  opacity: 0.3;
  margin-right: 12px;
  margin-left: 21px;
}

.header-search-field {
  width: 663px;
  height: 100%;
  background-color: inherit;
  border: none;
}

.header-search-field::placeholder {
  color: var(--basic-white);
}

.header-search-field:hover {
  opacity: 0.6;
}

.header-search-form:hover .header-search-icon {
  opacity: 1;
}

.header-search-field:active {
  opacity: 0.2;
}

.header-search-form:focus-within {
  background-color: var(--extra-white);
}

.header-search-form:focus-within .header-search-icon {
  color: var(--special-greydark);
  opacity: 1;
}

.header-search-field:focus {
  outline: none;
  box-shadow: none;
}

.header-search-field:focus::placeholder {
  color: var(--basic-greylight);
}

/* Logging-in */
.logging-in {
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.log-in-item {
  display: none;
  outline-offset: 2px;
  margin: 10px 0;
}

.log-in-item.is-current {
  display: block;
}

.header-login-link {
  display: flex;
  align-items: center;
  color: var(--extra-white);
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header-login-icon {
  margin-right: 12px;
}

.header-login-link:hover {
  opacity: 0.6;
}

.header-login-link:active {
  opacity: 0.2;
}

.log-in-item:focus-within {
  outline: 2px solid var(--basic-white);
}

.header-login-link:focus {
  outline: none;
}
